* {
    margin: 0px;
    padding: 0px;
}
.propertyBox {
    margin: 80px;
    position: relative;
   
}
.propertyContainer {
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
} 
.btnPre , .btnNxt {
    position: absolute;
    top: 50%;
    transform: translateY(-50% );
}
.btnPre {
    left: -20px;
}
.btnNxt {
    right: -20px;
}
.btnPre i {
    font-size: 50px;
    background-color: rgba(255, 255, 255, 0.436);
    box-shadow: 0px 0px 10px 1px black;
    border-radius: 10px;
    color: #fff;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.btnNxt i {
    font-size: 50px;
    background-color: rgba(255, 255, 255, 0.436);
    box-shadow: 0px 0px 10px 1px black;
    border-radius: 10px;
    color: #fff;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.SPpre i{
   font-size: 80px;
  background-color: #fff;
  box-shadow: 0px 0px 5px 1px black;
   border-radius: 50%;
   color: #fff;
   width: 80px;
   height: 80px;
   cursor: pointer;
}
.SPnxt i{
    font-size: 80px;
    background-color: #fff;
    box-shadow: 0px 0px 5px 1px black;
   border-radius: 50%;
   color: #fff;
   width: 80px;
   height: 80px;
   cursor: pointer;
}
.specialProperty {
    position: relative;
}
.specialContainer {
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.SPpre , .SPnxt {
    position: absolute;
    top: 45%;
    transform: translateY(-50% );
}
.SPpre {
    left: 180px;
}
.SPnxt {
    right: 180px;
}
.SPpre i:hover {
    color: #fff;
   background-color: rgb(195, 176, 176);
}
.SPnxt i:hover {
    color: #fff;
    background-color: rgb(195, 176, 176);
}
.topAgents {
    display: flex;
    justify-content: space-evenly;
}
.features {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}