* {
    margin: 0px;
    padding: 0px;
}
.propertyBox {
    margin: 80px;
    position: relative;
   
}
.propertyContainer {
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
} 
.btnPre , .btnNxt {
    position: absolute;
    top: 50%;
    transform: translateY(-50% );
}
.btnPre {
    left: -20px;
}
.btnNxt {
    right: -20px;
}
.btnPre i {
    font-size: 50px;
    background-color: rgba(255, 255, 255, 0.436);
    box-shadow: 0px 0px 10px 1px black;
    border-radius: 10px;
    color: #fff;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.btnNxt i {
    font-size: 50px;
    background-color: rgba(255, 255, 255, 0.436);
    box-shadow: 0px 0px 10px 1px black;
    border-radius: 10px;
    color: #fff;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.SPpre i{
   font-size: 80px;
  background-color: #fff;
  box-shadow: 0px 0px 5px 1px black;
   border-radius: 50%;
   color: #fff;
   width: 80px;
   height: 80px;
   cursor: pointer;
}
.SPnxt i{
    font-size: 80px;
    background-color: #fff;
    box-shadow: 0px 0px 5px 1px black;
   border-radius: 50%;
   color: #fff;
   width: 80px;
   height: 80px;
   cursor: pointer;
}
.specialProperty {
    position: relative;
}
.specialContainer {
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.SPpre , .SPnxt {
    position: absolute;
    top: 45%;
    transform: translateY(-50% );
}
.SPpre {
    left: 180px;
}
.SPnxt {
    right: 180px;
}
.SPpre i:hover {
    color: #fff;
   background-color: rgb(195, 176, 176);
}
.SPnxt i:hover {
    color: #fff;
    background-color: rgb(195, 176, 176);
}
.topAgents {
    display: flex;
    justify-content: space-evenly;
}
.features {
    margin-top: 40px;
    margin-bottom: 90px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.partners {
    margin-top: 60px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.foot1 {
    height: 50px;
    width: 100%;
    background-color: aquamarine;
}
.footer {
    height: 300px;
    width: 100%;
    background-color: #1a1a1a;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.credit {
    height: 25px;
    width: 100%;
    background-color: black;
    align-items: center;
    justify-content: center;
    display: flex;
}
.quickLinks {
   margin-top: 70px;
   margin-left: 70px;

   height: 300px;
   width: 100px;
}
.quickLinks h4 {
    font-size: 17px;
    font-weight: bold;
    color: #fff;
}
.footer .searchSec {
    margin-left: 150px;
    height: 200px;
    width: 200px;
}
.searchSec input {
    height: 32px;
    width: 350px;
    border-radius: 5px;
}
.searchSec button {
    margin-top: 5px;
    height: 40px;
    width: 100px;
    background-color: aquamarine;
    color: #1a1a1a;
    border-radius: 5px;
    font-weight: 600;
}
.searchSec h4 {
    font-size: 15px;
    color: #fff;
    font-weight: bold;
    margin-bottom: 8px;
}
.details {
    margin-left: 200px;
    margin-top: 20px;
    height: 300px;
    width: 300px;
}
.details h4 {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}
.details p {
    margin-top: 15px;
    margin-right: 5px;
    color: #808080;
}
.details p i {
    margin-right: 8px;
    font-size: 22px;
}
.socialfooter {
    height: 50px;
    width: 100%;
    background-color: #1a1a1a;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.socialfooter i {
    color: #808080;
    font-size: 33px;
    margin-left: 10px;
    margin-bottom: 15px;
}

.credit b {
  font-size: 10px;
  color: #fff;
 
}