.heading {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}
.heading1 {
    color: #1ea69a;
    font-size: 36px;
    font-weight: 450;
    margin-right: 25px;
}
.heading2 {
    color: #1a1a1a;
    font-size: 36px;
    font-weight: bold;
    margin-right: 20px;
}
.paraHead {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color: #808080;
    display: flex;
    justify-content: center;
}