.NavBarMain {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: absolute; 
    top: 10px;
    left: 10px; 
    margin-right: 10px;
}
.LogoName {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 500px;
}
.NavName1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    font-size: 20px;
    color: rgb(4, 67, 4);
    margin-right: 3px;
    margin-left: -5px;
}
.NavName2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    font-size: 20px;
}
.page {
    margin-right: 130px;
    font-weight: bolder;
    font-size: 14px;
    padding: 7px;
}
.page:hover {
    background-color: rgb(4, 67, 4);
    color: #ffffff;
    height: 40px;
    width: 40px;
}